*{
    padding:0;
    margin: 0;
}
.text-heading{
    color: white;
    text-align: center;
    }
    
    .header
    {
    background: radial-gradient(red,orange);
    padding: 15px;
    text-align: center;
    }
    
    .nav_menu{
    overflow: hidden;
    background-color: #333;
    }
    .nav_menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: white;
    }
    .nav_menu a:hover{
    background-color: white;
    color: green;
    }
    
    .columnB
    {
    float: center;
    width: 50px;
    padding: 15px;
    text-align: justify;
    background-color: white;
    }
    
    .columnA, .columnC {
    float: left;
    width: 25;
    padding: 15px;
    text-align: justify;
    background-color: white;
    }
    
    .footer
    {
    background: linear-gradient(red,blue);
    padding: 15px;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    clear: left;
    }
    .footer a
    {
    display: inkline;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial;
    }
.mypic{
    max-width: 200px;
    max-height: 100px;
    border-radius: 50%;
    margin-left: 50px;
}
.column h2{
text-align: center;

}